.App {
  text-align: center;
}
.a{
font-family: 'Pacifico', cursive;
}
.b{
  font-family: 'Dancing Script', cursive;
}
.c {
  font-family: 'Cinzel', serif;
}
.d{
  font-family: 'Great Vibes', cursive;
}
.e{
  font-family: 'Satisfy', cursive;
}